@font-face {
    font-family: 'Eurostile';
    src: url('fonts/EurostileRegular.woff2') format('woff2'),
         url('fonts/EurostileRegular.woff') format('woff'),
         url('fonts/eurostile.ttf') format('truetype');
    font-weight: normal; /* Adjust if you have bold/italic variants */
    font-style: normal;
}

@font-face {
    font-family: 'Eurostile';
    src: url('fonts/EurostileExtended-Black.woff2') format('woff2'),
         url('fonts/EurostileExtended-Black.woff') format('woff'),
         url('fonts/EurostileExtendedBlack.ttf') format('truetype');
    font-weight: bold; /* Adjust if you have bold/italic variants */
    font-style: normal;
}

body {
    background-color: black;
    color: white;
    font-family: 'Eurostile', sans-serif;
    font-size: 40px;
    margin: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

nav {
    position: fixed;
    font-size: 48px;
    top: 0;
    width: 100%;
    height: 76px;
    display: flex;
    text-align: center;
    z-index: 1;
}

nav .bar {
    position: absolute;
    background-color: rgba( 0, 0, 0, 0.7 );
    height: 100%;
    width: 100%;
    backdrop-filter: blur(4px); /* Blur effect */
    -webkit-backdrop-filter: blur(8px); /* Safari support */
}

nav ul {
    all: unset;
    position: relative;
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

nav li {
    all: unset;
    display: block;
    width: 216px;
}

nav span {
    position: absolute;
    font-family: 'Arial', sans-serif;
    z-index: 1;
    padding-left: 14px;
    padding-right: 14px;
}

nav span a {
    padding: 0.1em 0;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    padding: 0.2em 0;
}
a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}
a:hover::after,
a:focus::after{
    transform: scale(1);
}

div {
    position: relative;
    padding-left: 26px;
    padding-right: 26px;
}

.home {
    font-size: 64px;
    display: flex;
    align-items: center;
    height: 100vh;
}

h2 {
    font-weight: normal;
    font-size: 64px;
}

.home h2 {
    max-width: 850px;
}

#green-orb {
    position: absolute;
    right: 0;
    height: 90vh;
    z-index: -1;
}

#pills {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    margin-top: 200px;
}

#red-pill, #blue-pill {
    display: flex;
    align-items: center;
}

#red-pill img {
    width: 150px;
}

#red-pill a {
    display: block;
}

#red-pill > img, #blue-pill > img {
    position: absolute;
    z-index: -1;
    height: 300px;
    width: auto;
    mix-blend-mode: lighten;
}

#red-pill > img {
    transform: translateX(-25%);
}

#blue-pill > img {
    transform: translateX(-20%);
}

#pills a img:hover {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    to {
      transform: rotate(360deg); /* Full rotation */
    }
}

#vaporwave {
    width: 100%;
    position: absolute;
    left: 0;
    transform: translateY(-600px);
    z-index: -2;
}

h1 {
    font-weight: bold;
    font-size: 64px;
    position: relative;
    margin: 0;
}

.about {
    padding-left: 50px;
    padding-right: 50px;
    height: 100vh;
}

.about img {
    position: sticky;
    z-index: -1;
    float: right;
    max-height: 80%;
    max-width: 100%;
}

.about > div {
    position: absolute;
    padding: 0;
    max-width: 40%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.about .backdrop {
    flex-direction: column;
    background-color: rgba( 0, 0, 0, 0.7 );
    backdrop-filter: blur(4px); /* Blur effect */
    -webkit-backdrop-filter: blur(8px); /* Safari support */
    padding: 26px;
    border-radius: 26px;
}

p {
    position: relative;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 30px;
}

#library {
    top: 100px;
}

#vera {
    top: 100px;
    margin-top: 100px;
}

#graphic {
    top: 25%;
    margin-top: 225px;
}

#nerd {
    top: 20%;
    margin-top: 200px;
}

#site1 {
    top: 30%;
    margin-top: 250px;
}

.exp-card {
    border: 4px solid #EEEEEE;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 26px;
    margin-right: 26px;
}

.exp-card h1 {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.exp-card p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
}

.exp-card .icon {
    display: flex;
    width: 400px;
    align-items: center;
}

.exp-card img {
    width: 100%;
}

.exp-card ul {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-family: 'JetBrains Mono', sans-serif;
    list-style-type: '> ';
}

.sub {
    padding-left: 26px;
    padding-right: 26px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
}

.first {
    margin-top: 150px;
}

.aligner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

footer {
    font-family: 'JetBrains Mono', sans-serif;
    position: relative;
    z-index: 1;
    font-size: 20px;
    bottom: 0;
    background-color: rgba( 0, 0, 0, 0.7 );
    width: 100%;
    backdrop-filter: blur(4px); /* Blur effect */
    -webkit-backdrop-filter: blur(8px); /* Safari support */
}

footer ul {
    all: unset;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer li {
    all: unset;
}

.carousel {
    padding-left: 26px;
    padding-right: 26px;
    display: flex;
    gap: 14px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 4px;
    height: 404px;
    /* position: relative; */
}

.design-card {
    /* position: absolute; */
    height: 400px;
    padding: 0;
}

.design-card a {
    display: block;
    height: 100%;
    padding: 4px;
}

.design-card a:hover {
    padding: 0;
    border: 4px solid #EEEEEE;
}

.design-card > img {
    /* position: absolute; */
    height: 392px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 4px;
    padding: 0;
    background-color: rgba( 200, 200, 200, 0.7 );
    backdrop-filter: blur(4px); /* Blur effect */
    -webkit-backdrop-filter: blur(8px); /* Safari support */
}

section {
    padding-bottom: 60px;
    position: relative;
    max-width: 1200px;
}

section.top {
    margin-top: 100px;
}

section h1 {
    padding-left: 26px;
    padding-right: 26px;
    margin-bottom: 0;
}

.carousel img {
    height: 100%;
}

.fade-slide-in {
    opacity: 0;
    transform: translateY(20px); /* Start 20px below */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
  
.fade-slide-in.visible {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 1100px) {
    .about > div {
        max-width: 60%;
    }
}

@media (max-width: 900px) {
    #green-orb {
        right: unset;
    }

    .home {
        justify-content: center;
    }

    .home h2 {
        font-size: 48px;
    }

    nav ul {
        font-size: 36px;
    }

    nav li {
        width: fit-content;
    }

    nav span {
        position: relative;
        padding-right: 0;
    }

    #pills {
        display: flex;
        height: 100vh;
        justify-content: space-evenly;
        margin-top: 200px;
        flex-direction: column;
        align-items: center;
    }

    .about .backdrop > p {
        font-size: 24px;
    }

    .about .backdrop > h1 {
        font-size: 36px;
    }

    .exp-card {
        padding: 26px;
    }

    .exp-card > div {
        padding: 0;
    }

    .exp-card .icon {
        display: none;
    }

    .exp-card p, .exp-card li {
        font-size: 20px;
    }

    .exp-card h1 {
        font-size: 36px;
    }

    section > div > h1 {
        font-size: 48px;
    }

    section .sub {
        font-size: 20px;
    }

    section {}
    
}

@media (max-width: 600px) {
    nav ul {
        font-size: 24px;
    }

    .exp-card h1 {
        font-size: 24px;
    }

    .exp-card p, .exp-card li {
        font-size: 16px;
    }

    .exp-card ul {
        padding-left: 26px;
    }

    section > div {
        padding: 0;
    }

    section > div > h1 {
        font-size: 36px;
    }

    section .sub {
        font-size: 16px;
    }

    section > div {
        padding-left: 26px;
        padding-right: 26px;
    }
}