/* COLORS
    #7851a9 : Pi'erre purple
    #EEEEEE : less white
    #ffd500 : yellow
    #5f4085 : dark purple
*/

/* FONTS
    Zilla Slab
    Opens Sans
    Futura
*/

:root {
    --purple: #7851a9;
    --white: #EEEEEE;
    --yellow: #ffd500;
    --dark-purple: #5f4085;
    --black: #000000;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
a.navLink {
    /* display: block; */
    text-decoration: none;
    font-family: "Open Sans", "Arial", sans-serif;
    padding-left: 8px;
    padding-right: 8px;

}
a:hover {
    color: var(--yellow);
}
a.underline:hover {
    text-decoration: underline;
}

body {
    background-color: var(--white);
    color: var(--black);
    margin: 0px;
    font-family: "Open Sans", "Arial", sans-serif;
}

/* color: #474747; */

div {
    /* margin-left: 0px;
    margin-right: 0px; */
}

p {
    margin: 36px;
    word-wrap: break-word;
}

li {
    display: inline;
}
/* li a span {
    color: #EEEEEE;
    padding: 0px;
    border-top: 4px solid red;
} */
li a {
    /* display: inline-block; */
    color: var(--white);
    padding: 0px;
    /* border-top: 4px solid red; */
}
/*
li.hanging {
    padding-left: 36px;
    text-indent: -36px;
}
*/

a span.navLink {
    /* border-top: 4px solid var(--white); */
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
}
a span.navLink:active {
    color: var(--yellow);
}
a span.navLink:hover {
    border-top: 4px solid var(--yellow);
    background-color: var(--purple);
}

center ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#altText {

}

.boldText {
    font-family: "Arial", sans-serif;
    color: var(--purple);
    /* font-weight: 900px; */
}

.bigText {
    font-size: 36pt;
    font-family: "Open Sans", "Arial", sans-serif;
    margin-left: 36px;
    margin-top: 0px;
    /* padding-top: 36px; */
    /*  */
}

.navBar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    border-top: 4px solid var(--dark-purple);
    background-color: var(--dark-purple);
    font-size: 36px;
    padding-bottom: 4px;
}

.purp {
    color: var(--purple);
}
a.purp:hover {
    color: var(--yellow);
    background-color: var(--purple);
}
.white {
    color: var(--white);
}
