a {
    color: #EEEEEE;
    text-decoration: none;
}
a:hover {
    color: #ffd500;
}

body {
    color: #7851a9;
    margin: 0px;
}

/* color: #474747; */

div {
    /* margin-left: 0px;
    margin-right: 0px; */
}

.bigText {
    font-size: 36pt;
    font-family: "Arial", sans-serif;
    margin-left: 36px;
    margin-top: 0px;
    /* padding-top: 36px; */
    /*  */
}
