/* COLORS
    #7851a9 : Pi'erre purple
    #EEEEEE : less white
    #ffd500 : yellow
    #5f4085 : dark purple
*/

/* FONTS
    Zilla Slab, serif
    Opens Sans, sans-serif
    Futura, sans-serif
    Metropolis, sans-serif
    Conv_Gotham-Medium,sans-serif
*/

:root {
    --purple: #7851a9;
    --white: #EEEEEE;
    --yellow: #ffd500;
    --dark-purple: #5f4085;
    --black: #000000;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
a.underline:hover {
    text-decoration: underline;
}

body {
    font-size: 18px;
    background-color: var(--white);
    color: var(--black);
    margin: 0px;
    font-family: "Open Sans", "Arial", sans-serif;
}

img {
    /* width: 100%; */
}

div.textDiv {
    margin-left: 16px;
    margin-right: 16px;
    border: solid var(--purple) 4px;
}

p {
    margin: 36px;
    word-wrap: break-word;
}

li {
    display: inline;
}
/* li a span {
    color: #EEEEEE;
    padding: 0px;
    border-top: 4px solid red;
} */
/*
li.hanging {
    padding-left: 36px;
    text-indent: -36px;
}
*/

#altText {

}

.boldText {
    font-family: "Arial", sans-serif;
    color: var(--purple);
    /* font-weight: 900px; */
}

.bigText {
    font-size: 36pt;
    font-family: "Open Sans", "Arial", sans-serif;
    margin-left: 36px;
    margin-top: 0px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    /* display: block; */
    display: none;
    position: absolute;
    background-color: var(--purple);
    min-width: 212px;
    text-align: left;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}
.dropdown-content a {
    /* color: var(--white); */
    /* display: block; */
}
.navBar .dropdown-content a:hover {
    color: var(--yellow);
    background-color: var(--purple);
    border-top: none;
    padding-top: 10px;
    border-left: solid var(--yellow) 6px;
    padding-left: 20px;
    /* border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit; */
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropper {
    background-color: var(--purple);
    border-top: solid var(--yellow) 4px;
    padding-top: 6px;
}

div.navBar {
    position: sticky;
    top: 0px;
    /* border-top: 4px solid var(--dark-purple); */
    background-color: var(--dark-purple);
    font-family: "Arial", sans-serif;
    font-size: 30px;
    /* display: flex; */
}
ul.navBar {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    text-align: center;
}
li.navBar {
    display: inline-block;
}
.navBar a {
    display: block;
    color: var(--white);
    padding: 10px 26px;
}
.navBar a:hover {
    color: var(--yellow);
    background-color: var(--purple);
    border-top: solid var(--yellow) 4px;
    padding-top: 6px;
}
.navBar .active {
    color: var(--yellow);
}


/* ********** GALLERY STUFF ********** */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}
/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 45%;
  padding: 0 20px;
}
.column img {
  margin-bottom: 40px;
  vertical-align: middle;
  width: 100%;
}
.testFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}
.testFlex img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 10%;
    height: inherit;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 850px) {
  .column {
    flex: 100%;
    max-width: 90%;
  }
}

.purp {
    color: var(--purple);
}
a.purp:hover {
    /* color: var(--white);
    background-color: var(--purple); */
    text-decoration: underline solid var(--dark-purple) 2px;
}
a.white {
    color: var(--white);
}
a.white:hover  {
    color: var(--yellow);
}

/* .autofit {
    max-width: 100%;
    max-height: 100%;
} */
