:root {
  --purple: #7851a9;
  --white: #EDF2F4;
  --yellow: #F3A738;
  --dark-purple: #653b99;
  --black: #000000;
}

/* Concert One */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  color: var(--white);
}